<?xml version="1.0"?>
<config>
  <modules>
    <Crafter_Test>
      <version>0.1.0</version>
    </Crafter_Test>
  </modules>
    <adminhtml>
        <events>
            //second event
            <catalog_product_save_after>
                <observers>
                    <happyhour>
                        <type>model</type>
                        <class>Crafter_Test_Observer_ObserverTwo</class>
                        <method>product_prepare_save</method>
                    </happyhour>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <frontend>
    <routers>
      <test>
        <use>standard</use>
          <args>
            <module>Crafter_Test</module>
            <frontName>test</frontName>
          </args>
      </test>
    </routers>
		<layout>
		  <updates>
			<test>
			  <file>test.xml</file>
			</test>
		  </updates>
		</layout>
      <events>
          <catalog_product_collection_load_before>
              <observers>
                  <velanapps_restrict_products>
                      <class>Crafter_Test_Observer_Observer</class>
                      <method>filterProductCollection</method>
                  </velanapps_restrict_products>
              </observers>
          </catalog_product_collection_load_before>
      </events>
  </frontend>
  <global>
    <helpers>
      <Test>
        <class>Crafter_Test_Helper</class>
      </Test>
    </helpers>
	<blocks>
	  <test>
		<class>Crafter_Test_Block</class>
	  </test>
	</blocks>
    <models>
       <Test>
           <class>Crafter_Test_Model</class>
       </Test>
    </models>
  </global>
</config> 